matrix_appservice_port = 8445
matrix_homeserver_url = 'http://10.4.0.1:8440/'
matrix_homeserver_domain = 'gitter.remram.fr'
matrix_botname = '@twisted:gitter.remram.fr'
matrix_appservice_token = 'yOBsbMzpRXQOD+7KF9yTGzlJbgxK2z+Nmq0E082C'
matrix_homeserver_token = 'n/xRrUOvzFWskYrSyeKVUlsvQ5I2/CuRMB8XtMll'
